* {
}
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'cousine';
}

input {
    margin: 10px 0;
}
label {
    width: 25%;
    display: inline-block;
    margin: 10px 0;
}
input[type="text"] {
    width: 68%;
}
input[type="radio"] + label {
    width: auto;
    margin: 0 10px;
}
input.toggle {
    margin-right: 10px;
}
.row div.row {
    margin-left: 0;
    margin-right: 0;
}
.row ul {
    display: none;
    list-style-type: none;
    padding: 0;
}
.row ul.list input[type="text"] {
    width: 54%;
}
.row ul.pairs input[type="text"] {
    width: 25%;
}
.row ul.pairs span {
    margin-left: 10px;
    margin-right: 10px;
}
.row ul label {
    margin-left: 20px;
    margin-right: 10px;
}
.row ul input[name] {
    margin-left: -30px;
}
.row ul input[name]:last-child {
    width: 54%;
    margin-left: 0px;
}
.row ul button {
    margin-left: 10px;
}
.row ul li.row {
    margin-left: 0;
    margin-right: 0;
}
.sub {
    display: none;
    width: 100%;
    overflow: hidden;
}
.sub label {
    margin-left: 50px;
}
.visible .sub, ul.visible, .visible ~ button {
    display: block;
}
#generate {
    display: block;
}
textarea {
    width: 100%;
    border: 0;
    height: auto;
}

/* LAYOUT */

.row {
    width: 100%;
    display: block;
    overflow: hidden;
}
.row.container {
    padding: 10px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
.col {
    float: left;
    width: 49.5%;
}

.fixed {
    position: fixed;
    top: 0;
    overflow: scroll;
}

/* Bootstrap overrides */

.container {
    width: 100%;
}
